.idea
data/backups/
data/files/
data/plugins/
data/letsencrypt/
env/database.env
nginx/letsencrypt/accounts
nginx/letsencrypt/archive
nginx/letsencrypt/csr
nginx/letsencrypt/keys
nginx/letsencrypt/live
nginx/letsencrypt/renewal
nginx/certs/*
!nginx/certs/dev-fullchain.pem
!nginx/certs/dev-privkey.pem
