# Backup redmine database every day at 23.00
00 23 * * * /docker-wrapper.sh --stack ${STACK_NAME:-redmine} --service redmine-db -- /backup-redmine-db.sh &>/var/log/cron.log
# Delete backups older then one week
00 23 * * * /docker-wrapper.sh --stack ${STACK_NAME:-redmine} --service redmine-db -- find /backup -type f -mtyme +7 -exec rm -rf {} \;
